<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>File Upload and Vendor Selection</title>
  </head>
  <body>
    <h1>Upload a File and Choose a Vendor</h1>
    <form method="POST" enctype="multipart/form-data" async>
      <label for="file">Select File:</label>
      <input type="file" name="file" required /><br /><br />
      <label for="vendor">Choose Vendor:</label>
      <select name="vendor" required>
        {% for vendor in vendors %}
        <option value="{{ vendor }}">{{ vendor }}</option>
        {% endfor %}
      </select>
      <select name="output_type" required>
        <option value="html">Web Table</option>
        <option value="csv">CSV/Excel</option>
      </select>
      <br /><br />
      <input type="submit" value="Upload" />
    </form>

    {% if processed_data %} {{processed_data|safe}} {% elif processed_data is
    none %}
    <p id="loading-message">Analysis in progress. Please wait...</p>
    {% endif %}

    <script>
      document.getElementById("loading-message").style.display = "none";
    </script>
  </body>
</html>
